pkgbase = qingyin
	pkgdesc = Chinese-first local music player
	pkgver = 0.1.1
	pkgrel = 1
	url = https://github.com/Nook001/QingyinPlayer
	arch = x86_64
	license = LicenseRef-AllRightsReserved
	makedepends = cargo
	makedepends = pkgconf
	depends = qt6-base
	depends = qt6-declarative
	depends = qt6-wayland
	depends = gstreamer
	depends = gst-plugins-base
	depends = gst-plugins-good
	depends = gst-plugin-pipewire
	depends = dbus
	depends = hicolor-icon-theme
	options = !lto
	source = qingyin-0.1.1.tar.gz::https://github.com/Nook001/QingyinPlayer/archive/refs/tags/v0.1.1.tar.gz
	source = io.github.nook001.qingyin.desktop
	source = io.github.nook001.qingyin.metainfo.xml
	source = io.github.nook001.qingyin.svg
	sha256sums = 9f7453978d3066719843f46b7e3a6d222815b1d7c86ea958292fb554e1fe5ae6
	sha256sums = c7664e253aa198a1c7f9984ee5a67bc3ef5f1ce2c061700e55a97a117e18585b
	sha256sums = 8a6d7a7d7d5d40b66667b5bdf291d7c17fc9d8837b748b6147f81d97e36dee01
	sha256sums = 153aeb4aa6743914daecfd84ab9d33dc4bedcf5c7196d002ff289cc5bd66d8fe

pkgname = qingyin
